.authentication {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightseagreen;
}
.authentication h1 {
  font-size: 25px;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  width: 350px;
  gap: 20px;
}
input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid gray;
}
button {
  background-color: teal;
  color: white;
  font-size: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
}
p {
  font-size: 16px;
  color: red;
}
span {
  font-size: 16px;
  text-align: center;
}
