.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid transparent;
  box-shadow: 0 3px 2px -2px gray;
}
.logo-link {
  text-decoration: none;
  color: none;
}
.logo {
  text-decoration: none;
  color: teal;
}
.upload-button {
  background-color: teal;
  color: white;
  font-size: 20px;
  border: none;
  padding: 15px;
  cursor: pointer;
}